extends layout

block content
  head 
    link(rel="stylesheet", href="../stylesheets/main.css")
    script(defer src="../javascripts/style.js")
  body 
   #app
     #nav 
     h1.title Booker.com  
     form(method='post' action='/register' )
      h1 Zarejestruj się
      input(type="name" name="name" placeholder="Podaj Imie i Nazwisko")
      input(type='email', name="email" placeholder="Podaj email")
      input(type='password', name="regPassword" placeholder="Podaj haslo")
      input(type="submit" name='confirmReg')

     form(method='post' action='/login')
      h1 Zaloguj  sie
      input(type='email', name="username" placeholder="Podaj email")
      input(type='password', name="password" placeholder="Podaj haslo")
      input(type="submit" name='confirmLogin')

     #sliderService
      h1 Potrzebujesz pomocy? Oferujemy ci usługi
      h2.text 
      img(src="../images/p1.png", alt="", srcset="").personImg
      ul 
       li 
       li 
       li 
       
       
