extends layout

block content
  head  
   link(rel="stylesheet", href="../stylesheets/workers.css")
  body
   h1 Wybierz Wykonawce
   form(method='post')#cont 
    button(name="person" value="plumber").chooseWorker#plumber 
     img(src="../images/p1.png").person
     
    button(name="person" value="electrician").chooseWorker#electrician 
     img(src="../images/p2.png").person
    
    button(name="person" value="gardener").chooseWorker#gardener 
     img(src="../images/p3.png").person
     
