
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
}
.title{
    font-size: 3rem;
    text-align: center;
}
form{
    width: 50%;
    min-height: 50%;
    background: rgba(0,0,0,0.8);
    text-align: center;
    display: block;
    margin: auto;
    flex-direction: column;
    position: absolute;
    left: 25%;
    top: 30%;
}
form input{
    display: block;
    margin: auto;
}
form input, form button
{
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    width: 60%;
    background:rgba(0,0,0,0.3);
    transition: .3s ;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    outline: none;
    border: 1px solid white;

    
    
}
form input:hover{
    background: rgba(0, 0, 0, 0.1);
    transition: .3s ;
    
    
}
form input::-webkit-input-placeholder{
    color: white;
    text-align: center;
    font-size: 1.2rem;
}
.hidden
{
    display: none;
}
#sliderService{
    width: 60%;
    height: 90%;
    background: rgba(0, 0, 0, 0.6);
    display: block;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    -webkit-box-shadow: 0px 0px 86px 42px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 86px 42px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 86px 42px rgba(66, 68, 90, 1);
}
#sliderService h1,h2{
    padding: 15px;
    transition: .3s ease all;
}
h2{
    font-size: 2rem;
}
img{
    width: 30%;
    height: 37%;
    transition: .3s ease all;
}
li{
    list-style-type: none;
    font-size: 1.5rem;
    padding: 10px;
    transition: .3s ease all;
    margin-top: 10px;
}
#app{
    width: 100%;
    height: 100%;
}
.slider0{
   background-image: url(../images/slider1.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   transition: .3s ease all;
   
}
.slider1{
    background-image: url(../images/slider2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s ease all;
    width: 30%;
    
 }
 .slider2{
    background-image: url(../images/slider3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s ease all;
 }
 ul button{
     margin-top: 15px;
     width: 35%;
     height: 6%;
     padding: 20px;
     margin-right: 15px;
     margin-left: 15px;
     color: white;
     background: transparent;
     background: rgba(0,0,0,0.6);
     border-radius: 25px;
     transition: .3s ease all;
     font-size: 1.25rem;
 }
 ul button:hover{
     background-color: white;
     color: black;
     transition: .3s ease all;
 }